*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}

html {
  width: 100vw;
  height: 100vh;
  font-family: Inconsolata, monospace;
  font-size: 1rem;
  background-color: rgb(33, 37, 41);
  color: #d7d6d6;
}
